<form action="{{ path('update_vhost', { 'filename': filename|trim }) }}" method="post" class="form-horizontal" role="form">

  <div class="form-group">
    <div class="col-sm-12">
      <textarea name="config" class="form-control" rows="3">{{ data|raw }}</textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Update</button>
      <button type="button" class="btn btn-default cancel">Cancel</button>
    </div>
  </div>
</form>